@font-face{
  font-family:'Nissan Brand Regular';
  src: url('Nissan-Brand-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
    font-family:'Nissan Brand Bold';
    src: url('Nissan-Brand-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

h2,button,.bold{
    font-family:'Nissan Brand Bold',Arial,sans-serif;
    font-weight:normal;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #000;
    font-size: 20px;
    line-height: 1em;
}

html {
    background:#fff url('background_1_splash1.jpg') no-repeat 50% 0%;
    background-size:cover;
    font-family:'Nissan Brand Regular',Arial,sans-serif;
    font-weight:normal;
}

div, span, input, select, label {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.resource-sink {
    transform: translateZ(0);
}

h1,h2,h3,h4,p,ul,ol{
	margin:0;
	padding:0;
}

h1{
    font-family:'Nissan Brand Bold';
    text-align: center;
    font-size: 2rem;
    line-height: 2.3rem;
    padding-top: 10rem;
    text-transform: uppercase;
}

img{
    display:block;
    width:100%;
}

.wrapper {
    width:calc(100% - 18.875rem);
    height:100%;
    float:right;
}

#startLogo{
    display: block;
    width: 60%;
    margin: 0 auto;
    padding-top: 2rem;
}

#data, #photo, #waiverCopy, #minorData{
    display: none;
}

#data, #waiverData, #minorData{
    height: 750px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.sidebar{
    float:left;
    width:18.875rem;
    height:100%;
    padding:1.5rem 0;
}

.startWidth{
    width: 100%;
}

h2{
    padding:0 1.75rem;
    font-size:1.75rem;
    line-height:.875em;
    margin-bottom:1rem;
    text-align: center;
}

h2 .split span{
    display:inline-block;
    white-space: pre;
}

.space{
    margin-bottom:.5rem;
    display:inline-block;
    width:100%;
}

.split{
    line-height:0;
}

.progress{
    background-color:rgba(255,255,255,.75);
    padding:.333rem 0;
    display: inherit;
    position:absolute;
    bottom:3rem;
    left:4.25rem;
}

.progress span{
    width:.875rem;
    height:.875rem;
    -webkit-border-radius:2rem;
    background-color:white;
    border:.075rem solid #000;
    display:inline-block;
    margin:0 .5rem;
}

.progress span.current{
    background-color:#000;
}

.startProgress{
    left:20.5rem;
}

.logo{
    width:7rem;
    margin:0 auto 1.5rem;
}

.logo.margin{
    margin-bottom:14rem;
}

.startLogo{
    margin:0 auto 3rem;
    width:12rem;
    padding-top: 5rem;
}

#startSubmit{
    margin-top: 4rem;
}

.fan{
    position:absolute;
    bottom:0;
    right:1rem;
    width:28rem;
    z-index:50;
}

html.rev{
    background-image:url('background_2.jpg');
}

.rev h2{
    color:#fff;
}

.rev button{
    background-color:#000;
    color:#fff;
    float: right;
    margin: 0 2.5rem 2rem 0;
}

.rev .sidebar button{
    display:none;
}

#btnWrapper{
    width: 65%;
    margin: 3rem auto 0;
}

#noPhoto{
    float: left;
}

#yesPhoto{
    float: right;
}

.photoBtn{
    margin: 0 !important;
}

#mozeus{
    width: 85%;
    overflow: hidden;
    margin: 5rem auto 0; 
}

#openComment{
    padding:20px 0 3rem;
}

#Zip.invalid{border-color:red!important;}

.input {
    float: left;
    width: 100%;
    margin-bottom: 1.75rem;
    overflow: visible;
}

input:disabled {
    opacity: 1;
}

.w50{
    width:48%;
}

.w30{
    width:30%;
}

.mright{
    margin-right: 5%;
}

.left{
    float:left;
}

.right{
    float:right;
}

label {
    display: block;
    clear: both;
}

input, select {
    font-family:'Nissan Brand Regular',Arial,sans-serif;
    width: 100%;
    padding:5px 0;
    background-color:#ffffff;
    color:#000000;
    border:.075rem solid #d0d0d0;
    font-size: 1rem;
    height:2.25rem;
    text-indent: 7px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}

select{
    background-image:url('arrow.png');
    background-repeat:no-repeat;
    background-size:1.5rem auto;
    background-position:100% 50%;
}

#Email, #mz_Email{
    width:calc(100% - 4em);
    float:left;
    border-right:0;
    -webkit-border-top-right-radius:0;
    -webkit-border-bottom-right-radius:0;
    -moz-border-radius-topright:0;
    -moz-border-radius-bottomright:0;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}
#EmailDomain{
    width:4em;
    padding-left:1em;
    float:right;
    background:#000;
    color:#fff;
    border-left:0!important;
    -webkit-border-top-left-radius:0;
    -webkit-border-bottom-left-radius:0;
    -moz-border-radius-topleft:0;
    -moz-border-radius-bottomleft:0;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}

::-webkit-input-placeholder {
    color: #c8c8c8;
}

:-moz-placeholder {
    color: #c8c8c8;
}

::-moz-placeholder {
    color: #c8c8c8;
}

:-ms-input-placeholder {
    color: #c8c8c8;
}

*:focus {
    outline: 0;
}

input[type=checkbox] {
    background: #fff;
    padding: 0;
    width: 30px;
    height: 30px;
    -webkit-background-size: 30px 30px;
    float: left;
    margin: 0 10px 0 0;
}

input[type=checkbox]:checked {
    background: #fff url('check-on.png') no-repeat center center;
    padding: 0;
    width: 30px;
    height: 30px;
    -webkit-background-size: 30px 30px;
}

.check label {
    width: 90%;
    float: right;
    clear: inherit;
}

button{
    display:block;
    background-color:transparent;
    color:#000;
    margin:0 auto;
    padding:5px 2.5%;
    font-size:1rem;
    border:.125rem solid #000;
    min-width:8.5rem;
}

#dealerContactWrapper{
    display: none;
}

#pickerBox {
    margin: 1.5rem auto 0;
}

.rows{
    float: left;
    width: 100%;
}

.modelshort{
    background-size: 100% auto!important;
    background-repeat: no-repeat!important;
    width: 25%;
    height: 120px;
    float: left;
    position: relative;
    margin: 0 0 1rem;
}

#rowOne input[type=checkbox], #rowTwo input[type=checkbox], #rowThree input[type=checkbox], #rowFour input[type=checkbox], #rowFive input[type=checkbox]{
    background:url('check2_off.png') no-repeat center center; 
    padding: 0%; 
    width: 130px; 
    height: 95px;  
    -webkit-appearance: none; 
    -webkit-background-size: 130px 95px;
    float: left;
    margin-bottom: 2%;
    outline: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    border: none;
    border-radius: 0;
}

#rowOne input[type=checkbox]:checked, #rowTwo input[type=checkbox]:checked, #rowThree input[type=checkbox]:checked, #rowFour input[type=checkbox]:checked, #rowFive input[type=checkbox]:checked {
    background:url('check2_on.png') no-repeat center center; 
    padding: 0%; 
    width: 130px; 
    height: 95px;  
    -webkit-appearance: none; 
    -webkit-background-size: 130px 95px;
    float: left;
    margin-bottom: 2%;
    outline: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    border: none;
    border-radius: 0;
}

#rowOne label, #rowTwo label, #rowThree label, #rowFour label, #rowFive label  {position: absolute;bottom: 0;left: 5px;}

#rogueWrapper {background:url('voi_rogue.png');}
#muranoWrapper {background:url('voi_murano.png');}
#altimaWrapper {background:url('voi_altima.png');}
#maximaWrapper {background:url('voi_maxima.png');}
#jukeWrapper{background:url('voi_juke.png');}
#pathfinderWrapper{background:url('voi_pathfinder.png');}
#xterraWrapper{background:url('voi_xterra.png');}
#armadaWrapper{background:url('voi_armada.png');}
#sentraWrapper{background:url('voi_sentra.png');}
#threeZWrapper{background:url('voi_370z.png');}
#versaWrapper{background:url('voi_versa.png');}
#gtrWrapper{background:url('voi_gtr.png');}
#titanWrapper{background:url('voi_titan.png');}
#leafWrapper{background:url('voi_leaf.png');}
#nvWrapper{background:url('voi_nv.png');}
#questWrapper{background:url('voi_quest.png');}
#frontierWrapper{background:url('voi_frontier.png');}

.voiMenu{
    display: none;
    width: 100%;
    float: left;
}

.subMenuRow{
    visibility: hidden;
    width: 25%;
    float: left; 
}

.subModel{
    float: left;
    width: 100%;
    margin: 0 0 .75rem .5rem;
    font-size: .7rem;
}

.optInDropDown{
    margin-bottom: .5rem;
}

#thanksView h1{
    margin: 12rem auto 10rem;
}

.delay {-webkit-animation-delay: 2s;}

.delay0 {-webkit-animation-delay: 0.0s;}
.delay1 {-webkit-animation-delay: 0.2s;}
.delay2 {-webkit-animation-delay: 0.4s;}
.delay3 {-webkit-animation-delay: 0.6s;}
.delay4 {-webkit-animation-delay: 0.8s;}
.delay5 {-webkit-animation-delay: 1.0s;}
.delay6 {-webkit-animation-delay: 1.2s;}
.delay7 {-webkit-animation-delay: 1.4s;}
.delay8 {-webkit-animation-delay: 1.6s;}
.delay9 {-webkit-animation-delay: 1.8s;}
.delay10 {-webkit-animation-delay: 2.0s;}

.phoneCopy{
    float: left;
    width: 90%;
    margin: 10% 0 0 7%;
    font-size: .75rem;

}

#waiverCopy button, #minorData button{
    display: none;
    width: 75%;
    font-size: .75rem;
    margin: 1.2rem 12.5% 0;
    text-transform: uppercase;
}

#minorData button{
    display: block;
    margin-top: 4.5rem;
}

.waiverWrap{
    background-color: rgba(255, 255, 255, .75);
    width: calc(100% - 2.5rem);
    margin: 1.25rem auto 0;
    padding: 1.5rem 1rem;
    height: 640px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.waiverWrap h1{
    padding: 0;
    font-size: .75rem;
    line-height: 1rem;
    width: 70%;
    margin: 0 auto;
}

.waiverWrap p{
    font-size: .65rem;
    line-height: 1rem;
    text-align: center;
    margin-top: 1rem;
}

#waiverData h1, #minorData h1{
    text-align: left;
    font-size: 1rem;
    padding-top: 0;
    margin-bottom: .75rem;
}

#minorData h1{
    text-transform: none;
    margin-bottom: 0rem;
}

#mozeus1, #mozeus2{
    width: 85%;
    overflow: hidden;
    margin: 2rem auto 0; 
}

#mozeus2{
    margin: .75rem auto 0;
}

#mozeus2 .input{
    margin-bottom: 1rem;
}

.minorsLab{
    text-transform: uppercase;
    padding-top: .25rem;
}

#minorData .waiverWrap{
    height: auto;
    padding: .5rem;
}

#minorData .waiverWrap p{
    margin: 0;
}

#decline p{
    width: 75%;
    margin: 1.5rem auto;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

#decline button{
    width: 20%;
    margin: 2rem 37% 0 0;
}

.grey{
    color:#676767;
}

@-webkit-keyframes push {
    50% {
        -webkit-filter: hue-rotate(30deg) brightness(.5);
        filter: hue-rotate(30deg) brightness(.5);
        -webkit-transform: scale3d(.95, .95, .95);
        transform: scale3d(.95, .95, .95);
    }
}

@keyframes push {
    50% {
        -webkit-filter: hue-rotate(30deg) brightness(.5);
        filter: hue-rotate(30deg) brightness(.5);
        -webkit-transform: scale3d(.95, .95, .95);
        transform: scale3d(.95, .95, .95);
    }
}

.push {
    -webkit-animation: push .125s linear;
    animation: push .125s linear;
}

#thanksFinish{
    margin-top: 8.5rem;
}

@media all and (orientation:portrait){
    html,body{
        overflow:hidden;
        position:relative;
        background-color:#000;
        background-image: none;
        height: 100%;
    }
    body *{display:none!important;}
    body:after{
        content: "";
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        z-index: 50;
        background:transparent url('rotate.png') 50% 50% no-repeat;
        background-size:80% auto; /*make auto 100% for landscape*/
        -webkit-animation-name:rotate;
        -webkit-animation-duration:3s;
        -webkit-animation-iteration-count:infinite;
        -webkit-transition-timing-function:linear;
    }
    body:before{
        content: "ROTATE";
        text-align:center;
        width:100%;
        color:#fff;
        position: absolute;
        top:49%;
        left:0;
        font-size:2.5rem;
    }
}

@-webkit-keyframes rotate {
from{
    -ms-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
}
to{
    -ms-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);
}
}
@keyframes rotate {
from{
    -ms-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
}
to{
    -ms-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);
}
}

.flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
}
.vAlign{margin:auto;height:auto;}
